
@{
    ViewData["Title"] = "NotAuthorized";
}

<div>
    <img src="~/images/AcessDenied.jpg" style="width:1000px; height:auto; margin-top:100px" alt="You do not have authorization to perform this action!"/>
</div>

